
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Temp view</title>
    </head>
    
    <body>
        <p>Hello i am from other location</p>
    </body>
</html>