################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bookstoreproject/.vs/bookstoreproject/v17
/.vs
/bookstoreproject/bookstoreproject/obj
/bookstoreproject/bookstoreproject/bin/Debug/netcoreapp3.1
/bookstoreproject/bookstoreproject/wwwroot
