################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bookstoreproject/.vs/bookstoreproject/v17
