@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html >

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Landing Page</title>
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    
    <body>

        <img class="logo" src="~/images/logo.jpg" alt="The logo" />

        <h1 >Welcome to the book store applications</h1>
        <p>This is the details of the home page book</p>
        <buttton class="btn btn-primary">Click me</buttton>
    </body>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            alert("page loaded");
        })
    </script>

</html>